@using Project.Models
@model Project.Models.Account
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


<div>
    Login
    <br />
    <form asp-controller="Home" asp-action="Index" method="post">
     Username: 
     <br /> <input type="text" placeholder="please input username" asp-for="UserName"/>
     <br /> <span asp-validation-for="UserName"> </span>
     <br /> Password:
     <br /> <input type="password"  asp-for="Password"/>
     <br /> <span asp-validation-for="Password" > </span>
     <br /> <input type="submit" value="Login" />
    </form>
</div>