
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Project.Model
@model Account
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body{
       background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
    }
    .container{
        position: absolute;
        top: 10%;
        left:34%;
        height: 480px;
        width: 500px; 
        border-radius:8px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
        z-index: 1;
        border:0.5px;
    }
    .content{
        background-color: rgba(66, 183, 245,0.8);
        border-radius: 8px 8px 0px 0px;
    }
    .content h1{
        font-weight:700;
        text-align: center;
        color: white;
        padding-top: 1rem;
        margin: 0;
    }
    .content form{

    }
    .form-login {
        display: flex;
        flex-direction: column;
        max-width: 77%;
        top: 25%;
        left: 15%;
        right: 15%;
        position: absolute;
    }
    .form-login label{
        font-size: 1.5rem;
        font-weight:600;
        margin-bottom: 1rem;
        margin-top:.5rem;
    }
    .form-login input ,  .login-button{
       height: 35px;
       border-radius: 8px;
       box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
       border:0.5px;
       padding: 0 5px;
    }
    .form-login span{
       color: red;
       margin-bottom: .3rem;
       font-weight: 700;
    }
    .login-button{
        font-size: 1.2rem;
        font-weight:700;
        margin-top:2rem;
        cursor:pointer;
        background-color: rgba(66, 183, 245,0.8);
        color: white;
    }
    .login-button:hover{
        background-color: rgba(66, 183, 245, 0.5);
    }
  
</style>

<div class="container">
    <div class="content">
         <h1 >
             Sign In
         </h1>
        <br />
        <span>@ViewBag.messNorify</span>
        <form asp-controller="Login" asp-action="Index" method="post" class="form-login">
            @if(@ViewBag.messNotify != null)
            {
                <span>@ViewBag.messNotify</span>
            }
            <label>
                  Username 
             </label>
             <span asp-validation-for="UserName" ></span>
              <input type="text" placeholder="Please input username" asp-for="UserName"/> 
              
             <label>
                 Password
             </label> 
             <span asp-validation-for="Password" ></span>
             <input type="password"  asp-for="Password" placeholder=" Please input password"/>
             
             <input type="submit" value="Login" class="login-button"/>
        </form>
    </div>
    
</div>



