@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Project.Model
@model List<Attendance>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="@Url.Content("~/Styles/Attendence.css")" type="text/css" >

</head>
<body>
  <div class="content">
    <h1>Schedule</h1>
</div>
</body>
</html>




 
